@page "/"
@using ClockApp.Sdk.Abstractions
@using ClockApp.Models
@inject IQuoteApi QuoteApi
@inject IWorldTimeApi WorldTimeApi
@inject IIpBaseApi IpBaseApi

<main class="@_theme @(_more = _isMoreShowing ? "more" : "")">
    <div class="quote">
        @if (Quote?.Data is not null)
        {
            <p class="quote-text">
                "@Quote.Data.en"
                <button class="refresh-btn" @onclick="GenerateQuote"><img src="Assets/desktop/icon-refresh.svg" alt="refresh" /></button>
            </p>
            <p class="author">@Quote.Data.author</p>
        }
        else
        {
            <p>@Quote?.Message</p>
        }
    </div>

    <div class="current-time-section">
        <div class="greeting">
            <img src="@_iconUrl" alt="icon" />
            <p>
                @_greeting, it's currently
            </p>
        </div>

        <div class="time-section">
            <p class="time">
                @CurrentTime.Data.datetime.ToString("HH:mm")
                <span class="abbreviation">@CurrentTime.Data.abbreviation</span>
            </p>
        </div>
        <p class="city">In Ghent, Belgium</p>

    </div>
    <button @onclick="ShowMore" class="more-btn">
        <span>@(_arrowCssClass = _isMoreShowing ? "less" : "more")</span>
        <div class="@(_arrowCssClass = _isMoreShowing ? "less-arrow" : "more-arrow")"></div>
    </button>

    <div class="extra-info-section">

        @if (CurrentTime?.Data is not null)
        {
            <div class="extra-info">
                <span>current timezone</span>
                <p>@CurrentTime.Data.timezone</p>
            </div>
            <div class="extra-info">
                <span>day of the year</span>
                <p>@CurrentTime.Data.day_of_year</p>
            </div>
            <div class="extra-info">
                <span>day of the week</span>
                <p>@CurrentTime.Data.day_of_week</p>
            </div>
            <div class="extra-info">
                <span>week number</span>
                <p>@CurrentTime.Data.week_number</p>
            </div>
        }
        else
        {
            <p>@CurrentTime?.Message</p>
        }
    </div>
</main>

@code {
    private ServiceResponse<Quote>? Quote { get; set; } = new();
    private ServiceResponse<CurrentTime>? CurrentTime { get; set; } = new();
    //private ServiceResponse<IpBase>? IpBase { get; set; } = new();

    private string? _ip = string.Empty;
    private string _theme = string.Empty;
    private string _greeting = string.Empty;
    private string _iconUrl = string.Empty;
    private string _arrowCssClass = string.Empty;
    private string _moreOrLess = string.Empty;
    private string? _more;
    private bool _isMoreShowing;


    protected override async Task OnInitializedAsync()
    {
        Quote = await QuoteApi.GetQuote();
        CurrentTime = await WorldTimeApi.GetCurrentTime();

        if (CurrentTime.Data != null)
        {
            _ip = CurrentTime.Data.client_ip;
        }

        if (_ip != null)
        {
            //IpBase = await IpBaseApi.GetIpBase(_ip);
        }
        SetTheme();
    }

    private void SetTheme()
    {
        if (CurrentTime?.Data != null)
        {
            if (CurrentTime.Data.datetime.Hour > 5 && CurrentTime.Data.datetime.Hour < 12)
            {
                _theme = "day-time";
                _greeting = "Good morning";
                _iconUrl = "Assets/desktop/icon-sun.svg";
            }
            else if (CurrentTime.Data.datetime.Hour > 12 && CurrentTime.Data.datetime.Hour < 18)
            {
                _theme = "day-time";
                _greeting = "Good afternoon";
                _iconUrl = "Assets/desktop/icon-sun.svg";
            }
            else
            {
                _theme = "night-time";
                _greeting = "Good evening";
                _iconUrl = "Assets/desktop/icon-moon.svg";
            }
        }
    }

    private async Task GenerateQuote()
    {
        Quote = await QuoteApi.GetQuote();
    }

    private void ShowMore()
    {
        _isMoreShowing = !_isMoreShowing;
    }

}